*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 80%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.program-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program-box:nth-child(odd){
    flex-direction: row-reverse;
}

p{
    flex: 1;
}

ul{
    flex: 1;
}