.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  max-height: 230px;
  background-color: #f1f1f1;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(6) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(7) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(8) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(9) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(10) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(11) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(12) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(13) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(14) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(15) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.flex-items:nth-child(16) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}