*{
    font-family: cursive;
}

header{
    color: green;
}

body{
    background-image: url(kepek/island-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: scroll;
}

main{
    background-color: rgba(240, 248, 255, 0.9);
}

.program-box{
    height: 250px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.program-img{
    height: 150px;
    margin-left: 10px;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 10px;
}

p{
    margin: 20px;
}

ul{
    list-style-position: inside;
    margin-left: 10px;
    margin-right: 10px;
}