*{
    font-family: cursive;
}

body{
    background-image: url(kepek/island-bg.png);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: scroll;
}

main{
    background-color: rgba(240, 248, 255, 0.7);
}

.program-box{
    height: 200px;
    width: 100%;
    border: 2px solid black;
}

.program-img{
    height: 150px;
    margin-left: 10px;
}