nav{
    display: flex;
    background-color: lightblue;
    border-radius: 5px;
    height: 40px;
}

a{
    text-decoration: none;
    color: darkblue;
    padding: 10px;
    border-radius: 5px;
}

a:visited{
    color: darkblue;
}

a:hover{
    background-color: darkblue;
    color: white;
}