form{
    max-width: 600px;
}

.form div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form label{
    width: 180px;       
}

.form input{
    flex: 1;            
    box-sizing: border-box;
    padding-left: 5px;
}

h1{
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    border-radius: 5px;
    border: 2px gray solid;
    padding: 2px;
}

main {
    display: flex;
    flex-direction: column;   
    gap: 20px;
}

article {
    flex: auto;
}

aside {
    text-align: center;
}

nav{
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    main {
        flex-direction: row;      
        align-items: center;
    }
    aside {
        flex: 0 0 300px;
    }
    img {
        width: 100%;
    }
}