body{
    background-image: url(kepek/island-bg.png);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

main{
    width: 80%;
    margin: auto;
    background-color: rgba(240, 248, 255, 0.7);
}

form{
    max-width: 600px;
}

form div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form label{
    width: 100px;       
}

form input{
    flex: 1;            
    box-sizing: border-box;
}
