form{
    max-width: 600px;
}

.form div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form label{
    width: 150px;       
}

.form input{
    flex: 1;            
    box-sizing: border-box;
}

h1{
    margin-bottom: 10px;
}